{% extends 'base.html.twig' %}

{% block page_title %}{{ 'news.title.edit'|trans }}{% endblock %}

{% block content %}
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input class="btn btn-primary" type="submit" value="{{ 'action.save'|trans }}"/>
    {{ form_end(edit_form) }}
    {{ form_start(delete_form) }}
    <input class="btn btn-danger" type="submit" value="{{ 'action.delete'|trans }}">
    {{ form_end(delete_form) }}
    <a class="btn btn-default" href="{{ path('news_index') }}">{{ 'action.backToList'|trans }}</a>
{% endblock %}

{% block javascript_body %}
    {{ parent() }}
    <script src="{{ asset('js/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('js/adminNews.js') }}"></script>
{% endblock %}
