{% extends 'base.html.twig' %}
{% block page_title %}{{ 'file.title.edit'|trans }}{% endblock %}
{% block content %}
    {% if error %}
        <div>
            <h3>
                Beim Hochladen der Datei ist ein Fehler aufgetreten.
                Bitte achten Sie darauf das der Datei name nicht bereits verwendet wird.
            </h3>
        </div>
    {% endif %}

    {{ file.name }}
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input class="btn btn-primary" type="submit" value="{{ 'action.save'|trans }}"/>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a class="btn btn-default" href="{{ path('file_index') }}">{{ 'action.backToList'|trans }}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="{{ 'action.delete'|trans }}">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
